<div class="row my-3">
  <h2 class="col col-md-8"> Order Summary</h2>
  <button class="col col-md-4 btn btn-primary btn-block" (click)="storeOrder()" *ngIf="user && orderItems.length > 0"> Submit Order </button>
</div>


<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
</ng-template>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="name">User</span>
  </div>
  <input id="typeahead-template" type="text" class="form-control" aria-label="Full Name" aria-describedby="name"
    placeholder="Full Name"
    [(ngModel)]="user"
    [ngbTypeahead]="searchUser"
    [resultTemplate]="rt"
    [inputFormatter]="formatter" />
</div>

<hr>

<form [formGroup]="productForm" (ngSubmit)="addProductToOrder(productForm.value)">
  <div class="form-row">
    <div class="col col-md-6">
      <input id="typeahead-template" type="text" class="form-control"
        placeholder="Product Name"
        [(ngModel)]="orderItem"
        [ngModelOptions]="{standalone: true}"
        [ngbTypeahead]="searchProduct"
        [resultTemplate]="rt"
        [inputFormatter]="formatter" />
    </div>
    <div class="col col-md-3">
      <input type="number" class="form-control" placeholder="Quantity" formControlName="qty">
    </div>
    <div class="col col-md-3">
      <button class="btn btn-primary btn-block"> Add </button>
    </div>
  </div>
</form>

<div class="mt-3">
  <table class="table">
    <thead>
      <tr>
        <th colspan="col">#</th>
        <th colspan="col">Name</th>
        <th colspan="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of orderItems; index as i">
        <td> {{ i + 1 }} </td>
        <td> {{ item.name }} </td>
        <td> {{ item.qty }} </td>
        <td>
          <button class="btn btn-sm btn-danger" (click)="removeProduct(i)"> Remove </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
