<div class="d-flex flex-row justify-content-center">
    <form [formGroup]="registerForm" class="col-12 col-md-6">

      <h2> Register </h2>

      <hr class="mb-5">

      <div class="form-group">
        <label for="name" class="">Full Name</label>
        <div class="">
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="Full Name">
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="">Email Address</label>
        <div class="">
          <input type="text" class="form-control" id="email" formControlName="email" placeholder="Email Address">
        </div>
      </div>

      <div class="form-group">
          <label for="password" class="">Password</label>
          <div class="">
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
          </div>
      </div>

      <button type="submit" class="btn btn-primary btn-block"> Register </button>
    </form>
  </div>
