<p>product-new works!</p>

<form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">
  <div>
    <label for="name">
      Name
    </label>
    <input id="name" [(ngModel)]="product.name" type="text" formControlName="name">
  </div>

  <div>
    <label for="description">
      Description
    </label>
    <input id="description" [(ngModel)]="product.description" type="text" formControlName="description">
  </div>

  <div>
    <label for="price">
      Price
    </label>
    <input id="price" [(ngModel)]="product.price" type="number" formControlName="price">
  </div>

  <div>
    <label for="qty">
      Quantity
    </label>
    <input id="qty" [(ngModel)]="product.qty" type="number" formControlName="qty">
  </div>

  <button type="submit">Submit</button>
</form>
