<div class="row justify-content-center">

  <div class="col-5 card border-0 radius-0 shadow m-2" *ngFor="let product of products">
    <div class="card-body">
      <span class="badge badge-secondary px-3 text-white float-right"> {{ product.price }} </span>
      <h5 class="card-title">
        <a [routerLink]="['/product', product.id]">
          {{ product.name }}
        </a>
      </h5>
      <p class="card-text text-muted"> {{ product.description }} </p>
      <button class="btn btn-sm btn-danger" (click)="deleteProduct(product.id)"> Delete </button>
    </div>
  </div>
</div>

<div class="justify-content-center w-100">
  <ngb-pagination
    [collectionSize]="collectionSize"
    [(page)]="page"
    [maxSize]="maxSize"
    [rotate]="true"
    [boundaryLinks]="true"
    (pageChange)="getProductPage(page)">
  </ngb-pagination>
</div>
